

.restaurant-card {
  width:100%;
  background: #FFF;
  margin: 14px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  line-height: 24px;
}



.restaurant-card ttl{
  color: #000;
  font-family: Roboto;
  font-size:20px;
  font-weight: 500;
  

}



.restaurant-card des{
  color: #979797;
  font-family: Roboto;
  font-size:14px;
}

.restaurant-card type{
  margin-right: 6px;
  color:#000;
  font-family: Roboto;
  font-size:14px;

}
.restaurant-card vegan{
  margin-right: 6px;
  color:#fff;
  font-family: Roboto;
  font-size:12px;
  padding:6px;
  border-radius: 4px;
  background-color: #B8E986;
  
}

.restaurant-card gltfree{
  margin-right: 6px;
  color:#fff;
  font-family: Roboto;
  font-size:12px;
  padding:6px;
  border-radius: 4px;
  background-color: #F8E71C;
}

.restaurant-card img{
  
  border-radius: 10px;
  width: 100px;

}

.Grid {
  position: fixed;
}

.list {
  margin-top: 160px;
}